

html {font-size: 100%;} /*16px*/


  body {
    display: inline;
    background: white;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #ffffff;
    position: relative;
    background: url("https://static.videezy.com/system/resources/thumbnails/000/009/203/original/4k-video-with-galaxy-in-space.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  #background-image {
    width: max-content;
    object-fit: cover;
    z-index: -1;
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  p {margin-bottom: 1rem;}
  
  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.3;
  }

/* Mise en page */

  .center {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 30vmax;
    padding: 0 10px 0 10px;
    text-align: center;
  }


  .button {
    display: inline-block;
    background-color: rgb(24, 151, 201);
    color: white;
    width: fit-content;
    border: none;
    text-decoration: none;
    text-transform: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 15px 32px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .button:hover {
    background-color: rgb(6, 6, 63);
    color: white;
    text-decoration: none;
    text-transform: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  /* RESPONSIVE */

  @media only screen and (min-width: 768px){

    h1 {
      margin-top: -20%;
      width: 100%;
      font-size: 8vw;
      text-align: center;
      right: 10%;
      left: auto;
      font-weight: 200;
      line-height: 0.8;
      white-space: nowrap;
    }

    .img {
      margin-top: 0;
      align-content: center;
      width: 30%;
    }

  }
  
  @media only screen and (max-width: 400px){

    .img {
      flex: 50%;
      margin-top: -50%;
      width: 4vh;
      flex-basis: content;
      margin-left: 10%;
      margin-right: 10%;
      width: 30%;
    }

    .center {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      width: 30vmax;
      padding: 0;
      text-align: center;
    }

  }

  .link {
    text-decoration: none;
    text-transform: none;
    color: white;
  }
